 
 #header {height: 70px; 
 	      width: 1350px;
		  border: 2px solid white;
 	      padding-left: 220px;
 	      padding-top: 50px;}

 img { height : 300px;
 	   width: 600px;}


.ab {font-size : 17px;}
.cd {font-size : 17px;}
.ef {font-size: 17px;}
.gh {font-size: 17px;}